body {
  background-color: aliceblue;
}
.info {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  padding: 10px 20px;
}
.heading {
  text-align: center;
  padding: 10px 20px;
  color: black;
}
